<div *ngIf="type == 'delete'">
  <h1 mat-dialog-title>{{titulo}}</h1>
  <div mat-dialog-content>
    {{subtitulo}}
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">{{cancelText}}</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{okText}}</button>
  </div>
</div>
<div *ngIf="type == 'edit'">
  <div class="container">
    <div class="header-container">

      <div class="header-title">
        Edição de <span class="highlight">{{element.companyName}}</span>
      </div>
    </div>
    <div class="form-container">

      <form class="formgrid grid gap-2 justify-content-center" [formGroup]="companiesForm">
        <div class="flex justify-content-between w-full">
          <div class="">
            <label for="ativo">Ativo</label>
          </div>
          <div class="">
            <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
          </div>
        </div>
        <div class="col-12">
          <mat-form-field class="input-width">
            <label for="name">Nome da Compania</label>
            <input type="text" matInput formControlName="companyName">
            <mat-error>
              O campo Compania é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="input-width">
            <label for="collaboratorsCount">Quantidade de Colaboradores </label>
            <input type="number" matInput formControlName="collaboratorsCount">
            <mat-error>
              O campo Quantidade é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </form>
      <button class="btn" mat-raised-button (click)="handleRegisterCompany()">CADASTRAR</button>

    </div>



  </div>


</div>
