<div class="container">
  <div class="header-container">
    <div class="separator"></div>
    <div class="header-title">
      Cadasto de <span class="highlight">Parceiros</span>
    </div>
    <div class="separator"></div>
  </div>
  <div class="form-container">

    <form class="formgrid grid gap-2 justify-content-center	w-full" [formGroup]="partnerForm">
      <div class=" col-5">
        <mat-form-field class="input-width">
          <label for="name">Nome</label>
          <input type="text" matInput formControlName="name">
          <mat-error>
            O campo Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="input-width">
          <label for="description">Descrição</label>
          <input type="text" matInput formControlName="description">
          <mat-error>
            O campo Descrição é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
       <div class=" col-5">
        <mat-form-field class="input-width">
          <label for="repositoryGit">Repositório</label>
          <input type="text" matInput formControlName="repositoryGit">
          <mat-error>
            O campo Repositório é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="input-width">
          <label for="urlDoc">Url do Documento</label>
          <input type="text" matInput formControlName="urlDoc">
          <mat-error>
            O campo de Url é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
       <div class=" col-5">
        <mat-form-field class="input-width">
          <label for="repositoryGit">Clientes</label>
          <mat-select formControlName="clients" multiple>
            <mat-option *ngFor="let client of clients" [value]="client">{{client}}</mat-option>
          </mat-select>
          <mat-error>
            O campo Repositório é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="input-width">
          <label for="urlDoc">Projetos</label>
          <mat-select formControlName="projects" multiple>
            <mat-option *ngFor="let project of projects" [value]="project">{{project}}</mat-option>
          </mat-select>
          <mat-error>
            O campo de Url é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <button class="btn"  mat-raised-button (click)="handleRegister()">CADASTRAR</button>

  </div>



</div>
